@{ 
    var currentPassword = ""; 
    var newPassword1 = ""; 
    var newPassword2 = ""; 
    if(IsPost) 
    { 
        currentPassword = Request["currentPassword"]; 
        newPassword1 = Request["newPassword1"]; 
        newPassword2 = Request["newPassword2"]; 
        // Validation 
        if (currentPassword.IsEmpty()) { 
            ModelState.AddError("currentPassword", "Current Password required."); 
        } 
        if (newPassword1.IsEmpty()) { 
            ModelState.AddError("newPassword1", "Required."); 
        } 
        if (newPassword2.IsEmpty()) { 
            ModelState.AddError("newPassword2", "Required."); 
        } 
        if(newPassword1 != newPassword2) 
        { 
            ModelState.AddError("newPassword1", "The passwords do not match."); 
        } 
    } 
} 
<form action="ChangePassword" method="post" class="accountForm"> 
    <div class="toolbar">
        <input class="btn" type="submit" tabindex="5" value="Change Password" /> 
    </div>
    <div class="form-title">Change Password</div>
    <div class="form">
        <table>
            <tr>
                <td>@Html.Label("Current Password: ", "currentPassword")</td>
                <td>@Html.Password("currentPassword", currentPassword,new{placeholder="current password"}) </td>
                <td>@Html.ValidationMessage("currentPassword")</td>
            </tr>
            <tr>
                <td>@Html.Label("New Password: ", "newPassword1")</td>
                <td>@Html.Password("newPassword1", newPassword1,new{placeholder="new password"}) </td>
                <td>@Html.ValidationMessage("newPassword1") </td>
            </tr>
            <tr>
                <td>@Html.Label("Confirm New Password: ", "newPassword2")</td>
                <td>@Html.Password("newPassword2", newPassword2,new{placeholder="confirm new password"}) </td>
                <td>@Html.ValidationMessage("newPassword2") </td>
            </tr>
        </table>
    </div>
</form> 
